.App {
  display: flex;
  height: 100%;
}

/* Center titles */
h1,
h2,
h3,
h4 {
  text-align: center;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ee9500;
}
